[user]
	email = fdschonborn@gmail.com
	name = Federico Damian Schonborn
	signingkey = 692AB0DCB96A715A
[core]
	editor = nano
[help]
	autocorrect = 1
[alias]
	amend = commit --amend
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
