[user]
	email = fdschonborn@gmail.com
	name = Federico Damián Schonborn
	signingkey = 692AB0DCB96A715A
[core]
	editor = "C:\\Users\\fdsch\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe" --wait
[gpg]
	program = "C:\\Program Files\\Git\\usr\\bin\\gpg.exe"
[alias]
	amend = commit --amend
[help]
autocorrect = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
